## Ejercicio 9

In [12]:
import pandas as pd

import json

In [14]:
# Read the JSON file
with open(r"C:\github\master-analitica-datos-intro-a-python\M4\Ejercicios\Datos\clientes.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Convert the 'clientes' list to a DataFrame
clientes_df = pd.DataFrame(data["clientes"])

In [17]:
ventas_df = pd.read_csv(r"C:\github\master-analitica-datos-intro-a-python\M4\Ejercicios\Datos\ventas.csv")

In [18]:
clientes_df.head()

,id,nombre,apellido,email,telefono,direccion,ciudad,pais,fecha_registro,activo
0,1,Laura,Gómez,laura.gomez@example.com,+34 612345678,Calle Mayor 12,Madrid,España,2023-04-15,True
1,2,Javier,Martínez,javier.martinez@example.com,+34 611223344,Avenida del Puerto 45,Valencia,España,2022-11-03,True
2,3,Carmen,Ruiz,carmen.ruiz@example.com,+34 600112233,Calle Real 9,Sevilla,España,2021-08-19,False
3,4,Pablo,Fernández,pablo.fernandez@example.com,+34 699887766,Plaza del Sol 22,Barcelona,España,2024-01-12,True
4,5,María,Santos,maria.santos@example.com,+34 633445566,Calle Luna 4,Granada,España,2023-06-23,False

In [19]:
ventas_df.head()

,id_venta,id_cliente,fecha_venta,producto,categoria,cantidad,precio_unitario,importe_total,metodo_pago,estado
0,1,5,2024-01-12,Portátil HP 15,Informática,1,699.99,699.99,Tarjeta,pagado
1,2,3,2024-02-03,Silla ergonómica,Oficina,2,129.90,259.80,Transferencia,pagado
2,3,10,2024-02-07,Smartphone Samsung A55,Electrónica,1,379.00,379.00,Tarjeta,pagado
3,4,1,2024-02-09,"Monitor LG 27""",Informática,1,199.00,199.00,PayPal,pagado
4,5,15,2024-03-01,Teclado mecánico Logitech,Informática,1,89.95,89.95,Transferencia,pagado

In [21]:
ventas_con_cliente_df = ventas_df.merge(
    clientes_df,
    left_on='id_cliente',
    right_on= 'id',
    how="left")

In [22]:
ventas_con_cliente_df.head()

,id_venta,id_cliente,fecha_venta,producto,categoria,cantidad,precio_unitario,importe_total,metodo_pago,estado,id,nombre,apellido,email,telefono,direccion,ciudad,pais,fecha_registro,activo
0,1,5,2024-01-12,Portátil HP 15,Informática,1,699.99,699.99,Tarjeta,pagado,5,María,Santos,maria.santos@example.com,+34 633445566,Calle Luna 4,Granada,España,2023-06-23,False
1,2,3,2024-02-03,Silla ergonómica,Oficina,2,129.90,259.80,Transferencia,pagado,3,Carmen,Ruiz,carmen.ruiz@example.com,+34 600112233,Calle Real 9,Sevilla,España,2021-08-19,False
2,3,10,2024-02-07,Smartphone Samsung A55,Electrónica,1,379.00,379.00,Tarjeta,pagado,10,Ricardo,Vega,ricardo.vega@example.com,+34 611556677,Calle Esperanza 18,Zaragoza,España,2022-05-09,False
3,4,1,2024-02-09,"Monitor LG 27""",Informática,1,199.00,199.00,PayPal,pagado,1,Laura,Gómez,laura.gomez@example.com,+34 612345678,Calle Mayor 12,Madrid,España,2023-04-15,True
4,5,15,2024-03-01,Teclado mecánico Logitech,Informática,1,89.95,89.95,Transferencia,pagado,15,Lucía,Campos,lucia.campos@example.com,+34 688223344,Calle San Juan 6,Santander,España,2021-07-24,True